{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V15</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{%  static  'account/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%  static  'account/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%  static  'account/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%  static  'account/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%  static  'account/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{%  static  'account/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%  static  'account/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%  static  'account/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{%  static  'account/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%  static  'account/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{%  static  'account/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
    <div>
    {% if messages  %}

        {% for i in messages %}
            <div class="alert alert-primary" role="alert">
            {{ i }}
            </div>
        {% endfor %}

    {% endif %}


    </div>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url({% static 'account/images/bg-01.jpg' %});">
					<span class="login100-form-title-1">
						ورود
					</span>
				</div>

				<form method="POST" action="" class="login100-form validate-form">
                    {% csrf_token %}
					<div class="wrap-input100 validate-input m-b-26" data-validate="نام کاربری ضروری است">
						<span class="label-input100">ایمیل</span>
						<input class="input100" type="text" name="email" placeholder="talebi@gmail.com">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "رمز عبور ضروری است">
						<span class="label-input100">رمز عبور</span>
						<input class="input100" type="password" name="password" placeholder="********">
						<span class="focus-input100"></span>
					</div>

					<div class="flex-sb-m w-full p-b-30">


						<div>
							<a href="#" class="txt1">
								فراموشی رمز عبور
							</a>
						</div>
					</div>

					<div class="container-login100-form-btn">
                    <input class="login100-form-btn" value="ورود" type="submit">
					</div>
				</form>
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="{%  static 'account/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{%  static 'account/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{%  static 'account/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{%  static 'account/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{%  static 'account/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{%  static 'account/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{%  static 'account/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{%  static 'account/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{%  static 'account/js/main.js' %}"></script>

</body>
</html>