                 <footer class="footer -type-1 bg-dark-1 -green-links">
        <div class="container">
          <div class="footer-header">
            <div class="row y-gap-20 justify-between items-center">
              <div class="col-auto">
                <div class="footer-header__logo">
                  <img src="img/footer/footer-logo.svg" alt="logo">
                </div>
              </div>
              <div class="col-auto">
                <div class="footer-header-socials">
                  <div class="footer-header-socials__title text-white">ما را در شبکه های اجتماعی دنبال کنید</div>
                  <div class="footer-header-socials__list">
                    <a href="#"><i class="icon-facebook"></i></a>
                    <a href="#"><i class="icon-twitter"></i></a>
                    <a href="#"><i class="icon-instagram"></i></a>
                    <a href="#"><i class="icon-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="footer-columns">
            <div class="row y-gap-30">
              <div class="col-xl-2 col-lg-4 col-md-6">
                <div class="text-17 fw-500 text-white uppercase mb-25">درباره ما</div>
                <div class="d-flex y-gap-10 flex-column">
                  <a href="about-1.html">درباره ما</a>
                  <a href="blog-list-1.html">لیست وبلاگ</a>
                  <a href="instructor-become.html">مدرس شوید</a>
                  <a href="blog-list-1.html">لیست وبلاگ</a>
                  <a href="#">بازگشت وجه</a>
                  <a href="contact-1.html">تماس با ما</a>
                </div>
              </div>

              <div class="col-xl-4 col-lg-8">
                <div class="text-17 fw-500 text-white uppercase mb-25">دسته بندی ها</div>
                <div class="row justify-between y-gap-20">
                  <div class="col-md-6">
                    <div class="d-flex y-gap-10 flex-column">
                      <a href="courses-single-1.html">برنامه نویسی</a>
                      <a href="courses-single-2.html">طراحی وب</a>
                      <a href="courses-single-3.html">مالی و حسابداری</a>
                      <a href="courses-single-4.html">فناوری اطلاعات</a>
                      <a href="courses-single-5.html">هوش مصنوعی</a>
                      <a href="courses-single-6.html">رباتیک</a>
                      <a href="courses-single-1.html">بازاریابی</a>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="d-flex y-gap-10 flex-column">
                      <a href="courses-single-1.html">مدیریت پروژه</a>
                      <a href="courses-single-2.html">طراحی گرافیک</a>
                      <a href="courses-single-3.html">نرم افزار</a>
                      <a href="courses-single-4.html">عکاسی</a>
                      <a href="courses-single-5.html">بانک های اطلاعاتی</a>
                      <a href="courses-single-6.html">بهینه سازی وب</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-2 offset-xl-1 col-lg-4 col-md-6">
                <div class="text-17 fw-500 text-white uppercase mb-25">پشتیبانی</div>
                <div class="d-flex y-gap-10 flex-column">
                  <a href="terms.html">المان های کاربردی</a>
                  <a href="help-center.html">سوالات متداول</a>
                  <a href="dashboard.html">داشبورد</a>
                  <a href="contact-1.html">تماس با ما</a>
                </div>
              </div>

              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="text-17 fw-500 text-white uppercase mb-25">در تماس باشید</div>
                <div class="footer-columns-form">
                  <div>ما اسپم نمی فرستیم پس نگران نباشید.</div>
                  <form action="#">
                    <div class="form-group">
                      <input type="text" placeholder="ایمیل شما...">
                      <button type="submit">ارسال</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="py-30 border-top-light-15">
            <div class="row justify-between items-center y-gap-20">
              <div class="col-auto">
                <div class="d-flex items-center h-100 text-white">
                  © 2022 کلیه حقوق این قالب متعلق به گروه توسعه پردازان می باشد.
                </div>
              </div>

              <div class="col-auto">
                <div class="d-flex x-gap-20 y-gap-20 items-center flex-wrap">
                  <div>
                    <div class="d-flex x-gap-15 text-white">
                      <a href="help-center.html">پشتیبانی</a>
                      <a href="terms.html">شرایط</a>
                      <a href="terms.html">امنیت</a>
                      <a href="terms.html">حریم خصوصی</a>
                      <a href="terms.html">ضوابط</a>
                    </div>
                  </div>

                  <div>
                    <a href="#" class="button px-30 h-50 -dark-6 rounded-200 text-white">
                      <i class="icon-worldwide text-20 ml-15"></i><span class="text-15">فارسی</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>

