              <div class="header__explore text-green-1 mr-60 xl:mr-30 xl:d-none">
                <a href="#" class="d-flex items-center" data-el-toggle=".js-explore-toggle">
                  <i class="icon icon-explore ml-15"></i>
                  دسته بندی ها
                </a>

                <div class="explore-content py-25 rounded-8 bg-white toggle-element js-explore-toggle">

                  <div class="explore__item">
                    <a href="#" class="d-flex items-center justify-between text-dark-1">
                      برنامه نویسی<div class="icon-chevron-left text-11"></div>
                    </a>
                    <div class="explore__subnav rounded-8">
                      <a class="text-dark-1" href="courses-single-1.html">طراحی وب</a>
                      <a class="text-dark-1" href="courses-single-2.html">بانک های اطلاعاتی</a>
                      <a class="text-dark-1" href="courses-single-3.html">برنامه نویسی موبایل</a>
                      <a class="text-dark-1" href="courses-single-4.html">برنامه نویسی وب</a>
                      <a class="text-dark-1" href="courses-single-5.html">مهندسی نرم افزار</a>
                      <a class="text-dark-1" href="courses-single-6.html">سیستم عامل</a>
                      <a class="text-dark-1" href="courses-single-1.html">مدیریت پروژه</a>
                      <a class="text-dark-1" href="courses-single-2.html">برنامه نویسی وب</a>
                    </div>
                  </div>

                  <div class="explore__item">
                    <a href="#" class="d-flex items-center justify-between text-dark-1">
                      دیجیتال مارکتنیگ<div class="icon-chevron-left text-11"></div>
                    </a>
                    <div class="explore__subnav rounded-8">
                      <a class="text-dark-1" href="courses-single-1.html">طراحی وب</a>
                      <a class="text-dark-1" href="courses-single-2.html">بانک های اطلاعاتی</a>
                      <a class="text-dark-1" href="courses-single-3.html">برنامه نویسی موبایل</a>
                      <a class="text-dark-1" href="courses-single-4.html">برنامه نویسی وب</a>
                      <a class="text-dark-1" href="courses-single-5.html">مهندسی نرم افزار</a>
                      <a class="text-dark-1" href="courses-single-6.html">سیستم عامل</a>
                      <a class="text-dark-1" href="courses-single-1.html">مدیریت پروژه</a>
                      <a class="text-dark-1" href="courses-single-2.html">برنامه نویسی وب</a>
                    </div>
                  </div>


                  <div class="explore__item">
                    <a href="#" class="text-dark-1">سیستم عامل</a>
                  </div>

                  <div class="explore__item">
                    <a href="#" class="text-dark-1">بانک های اطلاعاتی</a>
                  </div>


                  <div class="explore__item">
                    <a href="#" class="d-flex items-center justify-between text-dark-1">
                      طراحی وب<div class="icon-chevron-left text-11"></div>
                    </a>
                    <div class="explore__subnav rounded-8">
                      <a class="text-dark-1" href="courses-single-1.html">طراحی وب</a>
                      <a class="text-dark-1" href="courses-single-2.html">بانک های اطلاعاتی</a>
                      <a class="text-dark-1" href="courses-single-3.html">برنامه نویسی موبایل</a>
                      <a class="text-dark-1" href="courses-single-4.html">برنامه نویسی وب</a>
                      <a class="text-dark-1" href="courses-single-5.html">مهندسی نرم افزار</a>
                      <a class="text-dark-1" href="courses-single-6.html">سیستم عامل</a>
                      <a class="text-dark-1" href="courses-single-1.html">مدیریت پروژه</a>
                      <a class="text-dark-1" href="courses-single-2.html">برنامه نویسی وب</a>
                    </div>
                  </div>

                  <div class="explore__item">
                    <a href="courses-single-6.html" class="text-dark-1">رباتیک</a>
                  </div>


                  <div class="explore__item">
                    <a href="#" class="d-flex items-center justify-between text-dark-1">
                      طراحی گرافیک<div class="icon-chevron-left text-11"></div>
                    </a>
                    <div class="explore__subnav rounded-8">
                      <a class="text-dark-1" href="courses-single-1.html">طراحی وب</a>
                      <a class="text-dark-1" href="courses-single-2.html">بانک های اطلاعاتی</a>
                      <a class="text-dark-1" href="courses-single-3.html">برنامه نویسی موبایل</a>
                      <a class="text-dark-1" href="courses-single-4.html">برنامه نویسی وب</a>
                      <a class="text-dark-1" href="courses-single-5.html">مهندسی نرم افزار</a>
                      <a class="text-dark-1" href="courses-single-6.html">سیستم عامل</a>
                      <a class="text-dark-1" href="courses-single-1.html">مدیریت پروژه</a>
                      <a class="text-dark-1" href="courses-single-2.html">برنامه نویسی وب</a>
                    </div>
                  </div>

                  <div class="explore__item">
                    <a href="#" class="d-flex items-center justify-between text-dark-1">
                      زبان انگلیسی<div class="icon-chevron-left text-11"></div>
                    </a>
                    <div class="explore__subnav rounded-8">
                      <a class="text-dark-1" href="courses-single-1.html">طراحی وب</a>
                      <a class="text-dark-1" href="courses-single-2.html">بانک های اطلاعاتی</a>
                      <a class="text-dark-1" href="courses-single-3.html">برنامه نویسی موبایل</a>
                      <a class="text-dark-1" href="courses-single-4.html">برنامه نویسی وب</a>
                      <a class="text-dark-1" href="courses-single-5.html">مهندسی نرم افزار</a>
                      <a class="text-dark-1" href="courses-single-6.html">سیستم عامل</a>
                      <a class="text-dark-1" href="courses-single-1.html">مدیریت پروژه</a>
                      <a class="text-dark-1" href="courses-single-2.html">برنامه نویسی وب</a>
                    </div>
                  </div>

                  <div class="explore__item">
                    <a href="#" class="d-flex items-center justify-between text-dark-1">
                      نگارش آکادمیک<div class="icon-chevron-left text-11"></div>
                    </a>
                    <div class="explore__subnav rounded-8">
                      <a class="text-dark-1" href="courses-single-1.html">طراحی وب</a>
                      <a class="text-dark-1" href="courses-single-2.html">بانک های اطلاعاتی</a>
                      <a class="text-dark-1" href="courses-single-3.html">برنامه نویسی موبایل</a>
                      <a class="text-dark-1" href="courses-single-4.html">برنامه نویسی وب</a>
                      <a class="text-dark-1" href="courses-single-5.html">مهندسی نرم افزار</a>
                      <a class="text-dark-1" href="courses-single-6.html">سیستم عامل</a>
                      <a class="text-dark-1" href="courses-single-1.html">مدیریت پروژه</a>
                      <a class="text-dark-1" href="courses-single-2.html">برنامه نویسی وب</a>
                    </div>
                  </div>


                  <div class="explore__item">
                    <a href="#" class="text-dark-1">علوم انسانی</a>
                  </div>

                  <div class="explore__item">
                    <a href="#" class="text-dark-1">هوش مصنوعی</a>
                  </div>


                  <div class="explore__item">
                    <a href="#" class="d-flex items-center justify-between text-dark-1">
                      مهندسی نرم افزار<div class="icon-chevron-left text-11"></div>
                    </a>
                    <div class="explore__subnav rounded-8">
                      <a class="text-dark-1" href="courses-single-1.html">طراحی وب</a>
                      <a class="text-dark-1" href="courses-single-2.html">بانک های اطلاعاتی</a>
                      <a class="text-dark-1" href="courses-single-3.html">برنامه نویسی موبایل</a>
                      <a class="text-dark-1" href="courses-single-4.html">برنامه نویسی وب</a>
                      <a class="text-dark-1" href="courses-single-5.html">مهندسی نرم افزار</a>
                      <a class="text-dark-1" href="courses-single-6.html">سیستم عامل</a>
                      <a class="text-dark-1" href="courses-single-1.html">مدیریت پروژه</a>
                      <a class="text-dark-1" href="courses-single-2.html">برنامه نویسی وب</a>
                    </div>
                  </div>

                  <div class="explore__item">
                    <a href="courses-single-1.html" class="text-dark-1">فناوری و اطلاعات</a>
                  </div>

                  <div class="explore__item">
                    <a href="courses-single-2.html" class="text-purple-1 underline">همه دسته بندی ها</a>
                  </div>
                </div>
              </div>